<html>
<head>
  <title>My Portfolio</title>
</head>
<body>
  <header>
    <h1>My Portfolio</h1>
    
  </header>
  <main>
    
    <div class="image-row">
        <img src="\assets\img\int1.jpg" alt="Image 1">
        <img src="\assets\img\int2.jpg" alt="Image 2">
        <img src="\assets\img\int3.jpg" alt="Image 3">
        <img src="\assets\img\in4.jpg" alt="Image 4">
        <img src="\assets\img\int5.jpg" alt="Image 5">
        <img src="\assets\img\int6.jpg" alt="Image 6">
        <img src="\assets\img\int7.jpg" alt="Image 7">
        <img src="\assets\img\int8.jpg" alt="Image 8">
        
      </div>
     
    
  </main>
</body>
</html>
